* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
section {
  position: relative;

  min-width: 400px;
  min-height: 600px;
  max-width: 1020px;
  max-height: 710px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 999;
}
